table {
    width: 100%;
    text-align: center;
}

.add-user-btn {
    margin-left: 15px;
}

.clean-button {
    background-color: transparent;
    color: black;
    outline: none;
}

.centerThValues {
    text-align:center;
    font-weight: bold;
    font-size: medium;
}