h2 {
    display: inline-block;
    font-size: 15px
}

.removeUserName {
    color: red;
    display: inline-block;
    padding-bottom: 10px;
    padding-left: 50px;
}

.removeUserBtn {
    background-color: red;
}