<h2 mat-dialog-title>{{modalTitle}}</h2>
<span class="userNameSpan">{{ currentUser.username }}</span>
<button class="closeBtn" mat-button mat-dialog-close mat-mini-fab color="warn">X</button>

<form class="edit-user-form">
    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field>
                    <input #usernameInput matInput placeholder={{currentUser.username}}>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field>
                    <input #emailInput matInput placeholder={{currentUser.email}}>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="example-full-width">
                    <input #passwordInput matInput placeholder="Password" type="password">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="example-full-width">
                    <input #confirmPasswordInput matInput placeholder="Confirm Password" type="password">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="example-full-width">
                    <input #nameInput matInput placeholder={{currentUser.name}}>
                </mat-form-field>
            </td>
        </tr>
    </table>
</form>

<mat-dialog-actions>
    <button mat-button mat-raised-button color="primary" (click)="validateUserInputs(usernameInput, emailInput, passwordInput, confirmPasswordInput, nameInput)">Edit</button>
</mat-dialog-actions>