h2 {
    display: inline-block;
  }
  
  table {
    width: 100%;
  }
    
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .userNameSpan {
    font-weight: bold;
    margin-left: 40px;
    margin-right: 80px;
    color: red;
    display: inline-block;
  }

  .closeBtn {
    float: right;
    outline: none;
  }
  
  .mat-checkbox {
    color: rgb(0,178,0);
  }
  
  .mat-form-field{
    width: 100%;
  }