<h2 class="matTitle" mat-dialog-title>{{modalTitle}}</h2>
<button class="closeBtn" mat-button mat-dialog-close mat-mini-fab color="warn">X</button>
<mat-dialog-content>

<form class="add-user-form">
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <input #usernameInput matInput placeholder="username">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <input #passwordInput matInput placeholder="password" type="password">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <input #nameInput matInput placeholder="name">
        </mat-form-field>
      </td>
    </tr>
  </table>
  
  </form>
</mat-dialog-content>
<mat-dialog-actions>
 <button mat-button mat-raised-button color="primary" (click)="startSavingUser(usernameInput, passwordInput, nameInput)">Add</button>
</mat-dialog-actions>