h2 {
    display: inline-block;
    font-size: 15px
}

.removeRoleName {
    color: red;
    display: table;
    margin: auto;
    font-weight: bold;
    font-size: large;
    margin-bottom: 25px;
}

.removeRoleYesBtn {
    background-color: red;
}

.removeRoleNoBtn {
    background-color: darkgray;
}

.mat-dialog-actions {
    display: table;
    margin: auto;
}